*{
    margin:3px ;
    padding:0 ;
    box-sizing: border-box ;
}



header {
    margin:0px ;
    padding:5px ;
    box-sizing: border-box ;
    font-size:13px ;
}

/* DIPINTO */

.dipinto {
    margin:10px ;
    padding:0 ;
    box-sizing: border-box ;
}

.titolo-dipinto {
    margin:0 ;
    padding:0 ;
    box-sizing: border-box ;
    font-size: medium;
    font-weight: bold;
    line-height: 30px;
}

.descrizione1 {
    margin:10px ;
    padding:0 ;
    box-sizing: border-box ;
    font-size: xx-small;
}

.descrizione2 {
    margin:0 ;
    padding:0 ;
    font-size: small;
}

/*STATUA*/

.statua {
    margin:10px ;
    padding:0 ;
    box-sizing: border-box ;
}

.titolo-statua {
    margin:0 ;
    padding:3px;
    font-weight: bold;
    line-height: 30px;
}

.descrizione3 {
    margin:10px ;
    padding:0 ;
    box-sizing: border-box ;
    font-size: xx-small;
}

.descrizione4 {
    margin:0 ;
    padding:0 ;
    font-size: small;
}


/* RIEPILOGO*/

.riepilogo {
    margin:0 ;
    padding:3px ;
    box-sizing: border-box ;
}
  .titolo-riepilogo {font-weight: bold;
}  

.punti-riepilogo {
    margin:20px ;
    padding:0 ;
    box-sizing: border-box ;
    list-style-type: circle;
    font-size: small;
}

/* FONDO PAGINA */

footer {
    margin:0 ;
    padding:0 ;
    box-sizing: border-box ;
    font-size: smaller;
}
