header {

}

/* DIPINTO */

.dipinto {

}

.titolo-dipinto {

}

.descrizone1 {

}

.descrizione2 {

}

/*STATUA*/

.statua {

}

.titolo-statua {

}

.descrizione3 {

}

.descrizione4 {

}


/* RIEPILOGO*/

.riepilogo {

}

.punti-riepilogo {

}

/* FONDO PAGINA */

footer {
    
}
